:root {
	--wine-red: #c7375f;
	--bright-red: #d42d2f;
	--dark-green: #344d2f;
	--light-green: #77a047;
	--gold: #fac57d;
	--snow: #f0f4f7;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	color: var(--dark-green);
	background-color: var(--snow);
}

.container,
.birthday-container {
	display: flex;
	flex-direction: column;
	background: var(--wine-red);
	color: var(--snow);
	padding: 1em 2em;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
	rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

.birthday-container {
	background: var(--gold);
	color: var(--dark-green);
}

.countdown-display {
	font-size: 100px;
	margin: 0;
}

.timer-countdown-display {
	font-size: 32px;
	margin: 0;
}
